# Funções built-in

In [1]:
type(print)

builtin_function_or_method

In [2]:
print("Texto")

Texto

In [3]:
salario_base = 1500
print(salario_base)

1500

In [6]:
comissao = 0.05
comissao

0.05

In [4]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [7]:
print('Salário base', salario_base, 'Comissão', comissao)

Salário base 1500 Comissão 0.05

In [8]:
print('Salário base', salario_base, 'Comissão', comissao, sep="\t")

Salário base	1500	Comissão	0.05

In [9]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [11]:
abs(-10) # retorna o valor absoluto

10

In [14]:
round(1.127456, 2)

1.13

In [16]:
pow(2, 3) # é equivalente a 2**3

8

In [17]:
int(1.5)

1

In [18]:
int(1.9)

1

In [19]:
float(1)

1.0

In [20]:
str(1.5)

'1.5'

In [21]:
str(salario_base)

'1500'

In [22]:
nome = input("Digite o seu nome: ")
nome

'Pedro'

In [23]:
altura_em_centimetros = input("Digite a sua altura em centímetros: ")
altura_em_centimetros

'170'

In [25]:
altura_em_centimetros = int(altura_em_centimetros)
altura_em_centimetros

170

In [27]:
altura_em_metros = altura_em_centimetros / 100
altura_em_metros

1.7